<div class="wrapper">
  <div class="re-main">
    <div class="re-main-result">
      <div class="re-main-result_comment">
      ""に関連するTwitterアカウントをフォロワー数ランキングで表示！
      </div>
    </div>
    <div class="re-main-body">
      <div class="re-tweet-account">
        <div class="re-tweet-account_content1">
          <div class="re-tweet-account_content1-num">
          1
          </div>
        </div>
        <div class="re-tweet-account_content2">
          <a href="/accounts/detail">
            <div class="re-tweet-account_detail-pic">
              <img src="https://pbs.twimg.com/profile_images/1125402577204436993/yAPIeBMB.jpg" alt="松本人志のツイッターアイコン" class="pic_icon" itemprop="image">
            </div>
          </a>
        </div>
        <div class="re-tweet-account_content3">
          <a href="/accounts/detail">
            <div class="re-tweet-account_detail-name">
              <p align="center"><font size="4">松本人志</font></p>
              <p align="center"><font size="2">@matsu_bouzu</font></p>
            </div>
          </a>
        </div>
        <div class="re-tweet-account_content4">
          <div class="re-follow-info" contextmenu="menu" data-scribe="component:button">
            <a id="follow-button" class="re-btn" title="Twitterで松本人志 (@matsu_bouzu)さんをフォローしましょう" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftwinavi.jp%2Faccount%2Fdetail%2Fmatsu_bouzu&amp;ref_src=twsrc%5Etfw&amp;region=follow_link&amp;screen_name=matsu_bouzu&amp;tw_p=followbutton">
              <i></i>
              <span class="re-label" id="l">フォローする</span>
            </a>
            <ul>
              <li><a href="http://twitter.com/matsu_bouzu/followers" target="_blank" rel="nofollow"><b>7,672,811</b></a> フォロワー</li>
              <li><a href="http://twitter.com/matsu_bouzu" target="_blank" rel="nofollow"><b>579</b></a> ツイート</li>
            </ul>
          </div>
        </div>
      </div>
            <div class="re-tweet-account">
        <div class="re-tweet-account_content1">
          <div class="re-tweet-account_content1-num">
          2
          </div>
        </div>
        <div class="re-tweet-account_content2">
          <div class="re-tweet-account_detail-pic">
            <img src="https://pbs.twimg.com/profile_images/666631354566635520/Qat08REd_normal.jpg" alt="有吉弘行のツイッターアイコン" class="pic_icon" itemprop="image">
          </div>
        </div>
        <div class="re-tweet-account_content3">
          <div class="re-tweet-account_detail-name">
            <p align="center"><font size="4">有吉弘行</font></p>
            <p align="center"><font size="2">@ariyoshihiroiki</font></p>
          </div>
        </div>
        <div class="re-tweet-account_content4">
          <div class="re-follow-info" contextmenu="menu" data-scribe="component:button">
            <a id="follow-button" class="re-btn" title="Twitterで松本人志 (@matsu_bouzu)さんをフォローしましょう" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftwinavi.jp%2Faccount%2Fdetail%2Fmatsu_bouzu&amp;ref_src=twsrc%5Etfw&amp;region=follow_link&amp;screen_name=matsu_bouzu&amp;tw_p=followbutton">
              <i></i>
              <span class="re-label" id="l">フォローする</span>
            </a>
            <ul>
              <li><a href="http://twitter.com/matsu_bouzu/followers" target="_blank" rel="nofollow"><b>7,672,811</b></a> フォロワー</li>
              <li><a href="http://twitter.com/matsu_bouzu" target="_blank" rel="nofollow"><b>579</b></a> ツイート</li>
            </ul>
          </div>
        </div>
      </div>
            <div class="re-tweet-account">
        <div class="re-tweet-account_content1">
          <div class="re-tweet-account_content1-num">
          3
          </div>
        </div>
        <div class="re-tweet-account_content2">
          <div class="re-tweet-account_detail-pic">
            <img src="https://pbs.twimg.com/profile_images/1125402577204436993/yAPIeBMB.jpg" alt="松本人志のツイッターアイコン" class="pic_icon" itemprop="image">
          </div>
        </div>
        <div class="re-tweet-account_content3">
          <div class="re-tweet-account_detail-name">
            <p align="center"><font size="4">松本人志</font></p>
            <p align="center"><font size="2">@matsu_bouzu</font></p>
          </div>
        </div>
        <div class="re-tweet-account_content4">
          <div class="re-follow-info" contextmenu="menu" data-scribe="component:button">
            <a id="follow-button" class="re-btn" title="Twitterで松本人志 (@matsu_bouzu)さんをフォローしましょう" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftwinavi.jp%2Faccount%2Fdetail%2Fmatsu_bouzu&amp;ref_src=twsrc%5Etfw&amp;region=follow_link&amp;screen_name=matsu_bouzu&amp;tw_p=followbutton">
              <i></i>
              <span class="re-label" id="l">フォローする</span>
            </a>
            <ul>
              <li><a href="http://twitter.com/matsu_bouzu/followers" target="_blank" rel="nofollow"><b>7,672,811</b></a> フォロワー</li>
              <li><a href="http://twitter.com/matsu_bouzu" target="_blank" rel="nofollow"><b>579</b></a> ツイート</li>
            </ul>
          </div>
        </div>
      </div>
      <%# <div class="re-tweet-account">
        <div class="re-tweet-account_left-content">
          <div class="re-tweet-account_detail">
            <div class="re-tweet-account_detail-pic">
              <img src="https://pbs.twimg.com/profile_images/1125402577204436993/yAPIeBMB.jpg" alt="松本人志のツイッターアイコン" class="icon xl" itemprop="image">
            </div>
            <div class="re-tweet-account_detail-name">
              <p align="center"><font size="4">松本人志</font></p>
              <p align="center"><font size="2">@matsu_bouzu</font></p>
            </div>
          </div>
        </div>
        <div class="re-tweet-account_right-content">
          <div class="re-btn-o" contextmenu="menu" data-scribe="component:button">
            <a id="follow-button" class="re-btn" title="Twitterで松本人志 (@matsu_bouzu)さんをフォローしましょう" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftwinavi.jp%2Faccount%2Fdetail%2Fmatsu_bouzu&amp;ref_src=twsrc%5Etfw&amp;region=follow_link&amp;screen_name=matsu_bouzu&amp;tw_p=followbutton">
              <i></i>
              <span class="re-label" id="l">フォローする</span>
            </a>
          </div>
          <div class="re-follow-info">
            <ul>
              <li><a href="http://twitter.com/matsu_bouzu/followers" target="_blank" rel="nofollow"><b>7,672,811</b></a> フォロワー</li>
              <li><a href="http://twitter.com/matsu_bouzu" target="_blank" rel="nofollow"><b>579</b></a> ツイート</li>
            </ul>
          </div>
        </div>
      </div> %>
    </div>
  </div>
</div>