<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="_detail.css">
    <title>mikke</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="header2">
          <div class="header_title">mikke</div>
        </div>
      </div>
      <div class="main">
        <div class="main-top">
          <div class="main-search">
            <div class="main-search2">
              <input placeholder="キーワードで検索" type="search" class="main-search_form-box" style= " -webkit-appearance: none; width:870px;height:30px;">
              <input type="submit" value="検索" class="main-search_form-btn" style= " -webkit-appearance: none; width:100px;height:30px;">
            </div>
          </div>
        </div>
        <div class="main-body">
          <div class="tweet-account">
            <div class="tweet-account_left-content">
              <div class="tweet-account_detail">
                <div class="tweet-account_detail-pic">
                  <img src="https://pbs.twimg.com/profile_images/1125402577204436993/yAPIeBMB.jpg" alt="松本人志のツイッターアイコン" class="icon xl" itemprop="image">
                </div>
                <div class="tweet-account_detail-name">
                  <p align="center"><font size="4">松本人志</font></p>
                  <p align="center"><font size="2">@matsu_bouzu</font></p>
                </div>
                <div class="tweet-account_detail-bottom">
                  <div class="follower">
                    <i class="fas fa-user-friends fa-2x"></i>
                    <div class="follower-num">
                      <a href="http://twitter.com/matsu_bouzu/followers" target="_blank" rel="nofollow"><font size="2"><b>7,672,811</b></font></a>
                    </div>
                  </div>
                  <div class="tweet">
                    <i class="fas fa-edit fa-2x"></i>
                    <div class="tweet-num">
                      <a href="http://twitter.com/matsu_bouzu" target="_blank" rel="nofollow"><font size="2"><b>579</b></font></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tweet-account_right-content">
              <div class="btn-o" contextmenu="menu" data-scribe="component:button">
                <a id="follow-button" class="btn" title="Twitterで松本人志 (@matsu_bouzu)さんをフォローしましょう" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftwinavi.jp%2Faccount%2Fdetail%2Fmatsu_bouzu&amp;ref_src=twsrc%5Etfw&amp;region=follow_link&amp;screen_name=matsu_bouzu&amp;tw_p=followbutton">
                  <i></i>
                  <span class="label" id="l">フォローする</span>
                </a>
              </div>
              <div class="follow-info">
                <ul>
                  <li><a href="http://twitter.com/matsu_bouzu/followers" target="_blank" rel="nofollow"><b>7,672,811</b></a> フォロワー</li>
                  <li><a href="http://twitter.com/matsu_bouzu" target="_blank" rel="nofollow"><b>579</b></a> ツイート</li>
                </ul>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>