<%# <!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>mikke</title>
  </head>
  <body>
  <div class="wrapper">
    <div class="header">
      <div class="header2">
        <div class="header_title">mikke</div>
      </div>
    </div>
    <div class="main">
      <div class="main-top">
        <div class="main-message">
          welcome to mikke!<br>
          お気に入りのTwitterアカウントを見つけましょう！
        </div>
      </div>
      <div class="main-bottom">
        <div class="main-search">
          <input placeholder="キーワードで検索" type="search" class="search-text" style= " -webkit-appearance: none; width:800px;height:40px;">
          <input type="submit" value="検索" class="submit-btn" style= " -webkit-appearance: none; width:100px;height:40px;">
        </div>
      </div>
    </div>
  </div>
  </body>
</html> %>